<%= react_component "HelloReact", posts: @posts, admin: session[:admin] %>

<% @posts.each do |post| %>
  <%= image_tag post.image_url.to_s %>
  <h1><%= link_to "#{post.title}", post %></h1>
  <p><%= post.content %></p>

  <% if session[:admin] then %>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
