<%= image_tag @post.image_url.to_s, alt: "image" %>
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<% if session[:admin] then %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
